$color_logo: #454A79;
$color_white: white;
$color_black: black;
$color_blue: #4285F4;
$color_text: #9A9898;
$color_orange: #FF9900;
$color_sginup_tow: #3C4168;
$color_red: red;
$color_green: green;
$accent-theme-color: #7A306C;
$accent-theme-color2: #8D909B;
$dark-theme-color: #101010;
$light-theme-color: #fff;
$portfolio-item-width: 300px;
$portfolio-item-height: 300px;
$portfolio-item-info-offset: 7px;
$portfolio-link-dimensions: 35px;
$portfolio-link-offset: 10px;